/*公共样式库 独孤宇云 2016-9-14*/

* {
    padding: 0px;
    margin: 0px;
}

@bg-blue: rgb(0, 137, 251); //蓝色主题
@bg-yellow: rgb(247, 163, 3); //橙黄色主题
@bg-gray: rgb(237, 237, 237); //body背景灰
@gray-line: rgb(215, 215, 215); //灰色线条
@center-width: 1190px;
@btn-font-size: 12px;
.clearfix {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.mgr-right-5 {
    margin-right: 5px !important;
}

.mgr-right10 {
    margin-right: 10px;
}

.mgr-right15 {
    margin-right: 15px;
}

.mgr-right20 {
    margin-right: 20px;
}

.file-btn {
    position: relative;
    overflow: hidden;
    text-indent: 0;
    line-height: 20px;
    input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
}

.form-modal {
    margin: 20px 40px;
}

//按钮
.btn-ww {
    width: 100%;
    background: @bg-blue;
    color: #fff;
    border: none;
}


/**
 * 公共组件样式
 */

//list表格样式
.ww-list {
    ul {
        list-style: none;
    }
    tbody {
        tr {
            td {
                padding: 10px 20px 10px 0px;
                border-bottom: 1px solid @gray-line;
            }
            td:nth-child(2){
                ul{
                    li:first-child{
                        margin-bottom: 78px;
                    }
                }
            }
            td:nth-child(3){
                ul{
                    li:first-child{
                        margin-bottom: 51px;
                    }
                    li+li{
                        margin-bottom: 10px;
                    }
                }
            }
            td:last-child{
                vertical-align: middle;
                text-align: center;
                ul{
                    li{
                        a{
                            color: @bg-blue;
                        }
                    }
                }
            }
        }
    }
}

//分页样式
.paging {
    text-align: right;
    span {
        i {
            display: inline-block;
            width: 26px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            border: 1px solid @gray-line;
        }
        i.active{
            color: @bg-blue;
        }
    }
    span:first-child{
        margin-right: 50px;
        strong{
            margin: 0px 5px;
        }
        strong:nth-child(2){
            color: @bg-blue;
        }
    }
}
.paging .word-test{
    border-top: none;
}

//tab页面样式
.nav-tabs {
    text-align: center;
    li {
        display: inline-block;
        float: none !important;
        a {
            border: none;
            padding: 10px 50px;
            margin: 0px;
        }
        &.active {
            a {
                border: none;
                border-bottom: 2px solid @bg-blue;
                border-bottom-color: @bg-blue !important;
                color: @bg-blue;
                // &:hover{
                //     border: none;
                // }
                &:focus{
                    border: none;
                    border-bottom: 2px solid @bg-blue;
                    border-bottom-color: @bg-blue !important;
                    color: @bg-blue;
                }
            }
        }
    }
}

