<div class="photo-test">
    <div class="content-top">
        <div class="top-info">输入文本</div>
        <div class="form-group">
            <textarea class="form-control" placeholder="请输入要检测的文本"></textarea>
        </div>
        <div class="top-btn">
            <button class="btn btn-ww">检测文本</button>
        </div>
    </div>
    <div class="divider"></div>
    <div class="content-center">
        <div class="paging-box clearfix word-test">
            <div class="btn-group col-md-3">
                历史检测记录
            </div>
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-right active"></i>
                </span>
            </div>
        </div>
        <table class="table table-hover ww-list">
            <tbody>
                <tr ng-repeat="row in data">
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span ng-bind="row.title"></span></div>
                        <div class="test-content clearfix">
                            <img ng-src="{{row.imgUrl}}">
                            <ul class="text-words">
                                <li ng-bind="row.imgContent"></li>
                                <li><span>编辑时间</span>：<span ng-bind="row.editTime"></span></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>
                                检测编号：<span ng-bind="row.code"></span>
                            </li>
                            <li>
                                检测时间：<span ng-bind="row.testTime"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>检测状态：<span ng-bind="row.state"></span></li>
                            <li>匹配敏感词量：<span ng-bind="row.matchedNum"></span></li>
                            <li>确认违禁词量：<span ng-bind="row.confirmedNum"></span></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">查看详情</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging-box paging-bottom clearfix">
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right"></i>
            </span>
            </div>
        </div>
    </div>
</div>
