<div class="photo-test">
    <div class="content-top">
        <div class="top-info">店铺概览</div>
        <uib-tabset active="" class="shop-view">
            <uib-tab index="0" heading="出售中">
                <div class="test-detail">
                    <div class="cus-col-1 pic-box">
                        <ul class="total-good">
                            <li><img src="/images/a0.jpg"></li>
                            <li>
                                <p>368</p>
                                <p>商品数</p>
                            </li>
                        </ul>
                    </div>
                    <div class="cus-col-2 pic-box">
                        <ul class="danger-good">
                            <li><img src="/images/a0.jpg"></li>
                            <li>
                                <p>145</p>
                                <p>商品数</p>
                            </li>
                        </ul>
                    </div>
                    <div class="cus-col-3 pic-box">
                        <ul class="safe-score">
                            <li> <img src="/images/a0.jpg"></li>
                            <li>
                                <p>12</p>
                                <p>安全分数</p>
                            </li>
                            <li>极度危险</li>
                            <li>
                                <button class="btn btn-ww">查看详情</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="仓库中">
                <div class="test-detail">
                    <div class="cus-col-1 pic-box">
                        <ul class="total-good">
                            <li><img src="/images/a0.jpg"></li>
                            <li>
                                <p>512</p>
                                <p>商品数</p>
                            </li>
                        </ul>
                    </div>
                    <div class="cus-col-2 pic-box">
                        <ul class="danger-good">
                            <li><img src="/images/a0.jpg"></li>
                            <li>
                                <p>336</p>
                                <p>商品数</p>
                            </li>
                        </ul>
                    </div>
                    <div class="cus-col-3 pic-box">
                        <ul class="safe-score">
                            <li> <img src="/images/a0.jpg"></li>
                            <li>
                                <p>56</p>
                                <p>安全分数</p>
                            </li>
                            <li>良好</li>
                            <li>
                                <button class="btn btn-ww">查看详情</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="divider"></div>
    <div class="content-center shop">
        <div class="top-info">危险商品</div>
        <uib-tabset active="" class="shop-view">
            <uib-tab index="0" heading="出售中">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>检测样本</th>
                            <th>检测时间</th>
                            <th>匹配敏感词数量</th>
                            <th>已确认违禁词数量</th>
                            <th>安全分数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in data">
                            <td>{{$index + 1}}</td>
                            <td ng-bind="row.code"></td>
                            <td ng-bind="row.testTime"></td>
                            <td ng-bind="row.matchedNum"></td>
                            <td ng-bind="row.confirmedNum"></td>
                            <td ng-bind="row.safeScore"></td>
                            <td>查看详情</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="1" heading="仓库中">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>检测样本</th>
                            <th>检测时间</th>
                            <th>匹配敏感词数量</th>
                            <th>已确认违禁词数量</th>
                            <th>安全分数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in data">
                            <td>{{$index + 1}}</td>
                            <td ng-bind="row.code"></td>
                            <td ng-bind="row.testTime"></td>
                            <td ng-bind="row.matchedNum"></td>
                            <td ng-bind="row.confirmedNum"></td>
                            <td ng-bind="row.safeScore"></td>
                            <td>查看详情</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
        <div class="show-more">
            <a href="">查看更多危险商品</a>
        </div>
    </div>
</div>
