<div class="photo-test">
    <div class="content-top">
        <div class="top-info">店铺概览</div>
        <uib-tabset active="" class="shop-view">
            <uib-tab index="0" heading="出售中">
            dafaf
            </uib-tab>
            <uib-tab index="1" heading="仓库中">
            fdasfdaf
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="divider"></div>
    <div class="content-center">
        <form class="form-inline history clearfix" role="form">
            <div class="form-group col-md-3">
                历史检测记录
            </div>
            <div class="form-group pull-right col-md-5 search-box">
                <div class="input-group">
                    <input class="form-control" type="email" placeholder="输入图片名称进行搜索">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
            </div>
        </form>
        <div class="paging-box clearfix">
            <div class="btn-group col-md-3">
                <button type="button" class="btn btn-default active">编辑时间</button>
                <button type="button" class="btn btn-default">检测时间</button>
            </div>
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-right active"></i>
                </span>
            </div>
        </div>
        <table class="table table-hover ww-list">
            <tbody>
                <tr ng-repeat="row in data">
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span ng-bind="row.title"></span></div>
                        <div class="test-content clearfix">
                            <img ng-src="{{row.imgUrl}}">
                            <ul class="text-words">
                                <li ng-bind="row.imgContent"></li>
                                <li><span>编辑时间</span>：<span ng-bind="row.editTime"></span></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>
                                检测编号：<span ng-bind="row.code"></span>
                            </li>
                            <li>
                                检测时间：<span ng-bind="row.testTime"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>检测状态：<span ng-bind="row.state"></span></li>
                            <li>匹配敏感词量：<span ng-bind="row.matchedNum"></span></li>
                            <li>确认违禁词量：<span ng-bind="row.confirmedNum"></span></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="">查看详情</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging-box paging-bottom clearfix">
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right"></i>
            </span>
            </div>
        </div>
    </div>
</div>
