<div class="photo-test">
    <div class="content-top">
        <div top-info>上传图片</div>
        <div class="form-group clearfix">
            <div class="col-md-2">
                <cus-file>本地上传文件检测</cus-file>
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="在此处粘贴图片链接地址">
            </div>
        </div>
        <ul class="container">
            <li>本地上传：支持PNG，JPEG，GIF图片格式，文件总大小不超过50M</li>
            <li>图片URL：支持多条图片URL，通过换行进行区分</li>
        </ul>
        <div class="top-btn">
            <button class="btn btn-ww">检测图片</button>
        </div>
    </div>
    <div class="divider"></div>
    <div class="content-center">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
                <tr>
                    <td>
                        <div class="test-title"><span>图片名称</span>：<span>李医生洁面乳材料</span></div>
                        <div class="test-content clearfix">
                            <img src="/images/bg.jpg">
                            <div class="text-words">
                                <div>李医生男士控油祛痘洁面乳150g 舒爽去痘痘 去黑头清洁活炭洗面奶...</div>
                                <div><span>编辑时间</span>：<span>2016-06-5-29 09:42:36</span></div>
                            </div>
                        </div>
                    </td>
                    <td>检测编号：2131654321</td>
                    <td>检测状态：已检测</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
