<div class="photo-test">
    <div class="content-top">
        <div class="top-info">上传图片</div>
        <div class="search-good">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="输入图片名称进行搜索" list="demo">
                <div class="input-group-addon" ng-click="event.showSearchPanel()"><i class="fa fa-chevron-down"></i></div>
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
            <div class="dropdown-box clearfix" ng-show="operation.dropdown">
                <div class="dropdown-box-top clearfix">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品编码</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="商品编码">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品名称</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="商品名称">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">商品状态</label>
                            <ui-select ng-model="selected.value" theme="bootstrap">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in itemArray1 track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">编辑时间</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <adm-dtp ng-model='query.orderCreateTimeFrom' full-data="date11_detail" maxdate="{{date12_detail.unix}}"></adm-dtp>
                                </div>
                                <div class="col-md-6">
                                    <adm-dtp ng-model='query.orderCreateTimeFrom' full-data="date11_detail" maxdate="{{date12_detail.unix}}"></adm-dtp>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">检测状态</label>
                            <ui-select ng-model="selected.value" theme="bootstrap">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.name"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in itemArray1 track by item.id">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">检测编号</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="检测编号">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">检测范围</label>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 标题
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 标语
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 商品图片
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 描述中的文字
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 描述中的图片
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">编辑时间</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <adm-dtp ng-model='query.orderCreateTimeFrom' full-data="date11_detail" maxdate="{{date12_detail.unix}}"></adm-dtp>
                                </div>
                                <div class="col-md-6">
                                    <adm-dtp ng-model='query.orderCreateTimeFrom' full-data="date11_detail" maxdate="{{date12_detail.unix}}"></adm-dtp>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">匹配敏感词</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">确认违禁词</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">安全等级</label>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 极度危险
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 危险
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 潜在风险
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 安全
                                </label>
                            </div>
                            <div class="checkbox declare">
                                <label class="i-checks">
                                    <input type="checkbox" checked><i></i> 非常安全
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-box-bottom clearfix">
                    <button class="btn btn-info pull-right">重置</button>
                    <button class="btn btn-info pull-right">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="content-center">
        <form class="form-inline history clearfix" role="form">
            <div class="form-group col-md-3">
                历史检测记录
            </div>
            <div class="form-group pull-right col-md-5 search-box">
                <div class="input-group">
                    <input class="form-control" type="email" placeholder="输入图片名称进行搜索">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                </div>
            </div>
        </form>
        <div class="paging-box clearfix">
            <div class="btn-group col-md-3">
                <button type="button" class="btn btn-default active">编辑时间</button>
                <button type="button" class="btn btn-default">检测时间</button>
            </div>
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                    <i class="fa fa-angle-left"></i>
                    <i class="fa fa-angle-right active"></i>
                </span>
            </div>
        </div>
        <table class="table table-hover ww-list">
            <tbody>
                <tr ng-repeat="row in data">
                    <td class="cus-col-1">
                        <div class="test-title"><span>图片名称 : &nbsp</span><span ng-bind="row.title"></span></div>
                        <div class="test-content clearfix">
                            <img ng-src="{{row.imgUrl}}">
                            <ul class="text-words">
                                <li ng-bind="row.imgContent"></li>
                                <li><span>编辑时间 : &nbsp</span><span ng-bind="row.editTime"></span></li>
                            </ul>
                        </div>
                    </td>
                    <td class="cus-col-2">
                        <ul>
                            <li>
                                <span>检测编号 : &nbsp</span><span ng-bind="row.code"></span>
                            </li>
                            <li>
                                <span>检测时间 : &nbsp</span><span ng-bind="row.testTime"></span>
                            </li>
                        </ul>
                    </td>
                    <td class="cus-col-3">
                        <ul>
                            <li><span>检测状态 : &nbsp</span>
                                <button class="btn btn-xs ww-gold" ng-bind="row.state"></button>
                            </li>
                            <li><span>匹配敏感词量 : &nbsp</span><span ng-bind="row.matchedNum"></span></li>
                            <li><span>确认违禁词量 : &nbsp</span><span ng-bind="row.confirmedNum"></span></li>
                        </ul>
                    </td>
                    <td class="cus-col-4">
                        <ul>
                            <li><a href="">查看详情</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="paging-box paging-bottom clearfix">
            <div class="paging col-md-7 pull-right">
                <span>共<strong>153</strong>件检测报告  <strong>1</strong>/<strong>13</strong> </span>
                <span>
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right active"></i>
            </span>
            </div>
        </div>
    </div>
</div>
